---
layout: job_page
title: "Online Marketing Manager"
---

## Intro

You might describe yourself as analytical, creative, organized, and diplomatic. You have experience delivering growth in revenue and demand by deploying a variety of crafts that span marketing, UX, and product management. You enjoy setting up conversion rate optimization experiments to continually improve the results of a prospective customers journey, and sharing results and insights with a broad group of stakeholders throughout the company. You also enjoy employing a number of marketing tactics to attract a relevant audience to a marketing site.

## Responsibilities

- Build and implement online growth strategy—understand key partnerships within organization to drive full funnel of customer acquisition, retention and upsell.
- Manage our digital marketing agency which handles paid and organic search.
- Ensure all online marketing enhances our brand with developers, IT ops practitioners, and IT leaders. Be an expert on our audiences and their preferences. 
- Be an expert on our customer lifecycle, and ways in which customer needs are evolving/how our product meets them.
- Work with product team to implement growth strategies that span into trial/product experience, and impact both customer conversion and future retention/upsell.
- Define and implement our SEO strategy together with our digital marketing agency.
- Grow inbound demand tracked through GitLab’s marketing site by optimizing the customer journey:
  - Grow traffic to about.gitlab.com through paid and organic marketing programs.
  - Improve website conversion focused on enterprise trial requests, sales contact requests, and live chat engagement.
  - Improve conversion from trial request to download of GitLab.
  - Improve conversion from trial request to sales accepted opportunity.
- Grow trial conversion to paying customer by optimizing the customer journey:
  - Ensure trial feature usage is understood and compared to high-value customer usage
  - Improve adoption of features that prove most valuable in conversion
  - Optimize onboarding experience for engagement & activation
- Develop and execute on strategies to improve free user to paid plan conversion.
- Drive innovation and experimentation on the marketing site & trial experience to improve inbound demand creation & conversion. 
- Oversee our paid social and account based advertising programs, maximizing for return on marketing spend.
- Develop and manage our online advertising budget.
- Improve closed-loop reporting and analysis capabilities.
- Work with data and analytics team to create standardized growth reporting and dashboards, and presenting weekly performance to the marketing department as well as stakeholders throughout the company.
- Work with marketing and sales ops to evaluate and implement adtech and martech.



<%= partial "includes/apply_and_about" %>