---
layout: default
title: GitLab CE and EE AWS AMI
description: "Learn about GitLab Community Edition and Enterprise Edition on AWS with our machine image."
suppress_header: true
extra_css:
  - aws.css
current_version: gitlab-aws-image
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 GitLab CE and EE AWS AMI
        %h2
          GitLab Community Edition and Enterprise Edition on AWS with our machine image

  #content
    .wrapper.container{role: "main"}
      %ul.aws-install
        %li
          An AMI is available for each version of GitLab. Search for
          %code GitLab EE X.Y
          or
          %code GitLab CE X.Y
          (where X.Y is the desired version) under Community AMIs.
        %li
          Launch a
          %a{href: "https://docs.gitlab.com/ee/install/requirements.html#hardware-requirements"} c4.large or larger instance
          with open ports for SSH (TCP 22), HTTP (TCP 80) and HTTPS (TCP 443).
        %li
          Allocate and assign an Elastic IP so it is publicly reachable.
        %li
          Browse to GitLab over HTTP using the public IP or DNS, you will be prompted to enter the
          %code root
          user's password.
        %li
          Login with the
          %code root
          user, or create a new one and begin using GitLab.
        %li
          If you would like to edit the configuration:
        %ul
          %li
            SSH into your instance as the
            %code ubuntu
            user
          %li
            Edit
            %code /etc/gitlab/gitlab.rb
            to
            %a{href: "https://docs.gitlab.com/omnibus/README.html#installation-and-configuration-using-omnibus-package"} configure GitLab
          %li
            Run
            %code sudo gitlab-ctl reconfigure
            to apply your changes
