---
layout: job_page
title: "Move"
---

Use this "move" calculator to get a sense of how your compensation may be affected if you choose to relocate. This calculation only takes into account the change in rent index. Please also check to see what the compensation calculator would look like for your position in the new location. 
As stated in the [people ops section of the handbook](/handbook/people-operations/#relocation/),
you should first obtain written agreement (from your manager and People Ops) when planning a relocation, and verify what your adjusted salary would be with People Operations.
It is the company's discretion to offer you a contract in your new location.


<%= partial "includes/move_calculator" %>
