---
layout: job_page
title: "Marketing Frontend Engineer"
---

{: .text-center}
<br>

## Responsibilities

* Own the front-end development of about.gitlab.com
* Work closely with the marketing team to maintain the GitLab website
* Code all marketing assets like emails, landing pages, etc.
* Continually improve the quality of about.GitLab.com by using discretion of where you think changes are needed.
* Focus on mobile responsiveness for about.gitlab.com and all marketing assets.
* Create high quality frontend code.
* Improve the [static website of GitLab](https://about.gitlab.com/) based on the collaborations with the the Designer and CMO.

## Requirements for Applicants

* Know how to use CSS effectively
* Expert knowledge of JavaScript
* Basic knowledge of Vue.js is a plus but not a requirement
* Collaborate effectively with UX Designers, Developers, and Designers
* Be able to work with the rest of the community
* Needs to have extensive knowledge of Rails
* You share our [values](/handbook/values), and work in accordance with those values.

## Relevant links

- [Marketing Handbook](/handbook/marketing)


<%= partial "includes/apply_and_about" %>
