---
layout: job_page
title: "UX Lead"
---

The User Experience (UX) Lead reports to the VP of Engineering, and UX
Designers report to the UX Lead.

## Responsibilities

* Sets overall direction of UX from both a design and application experience view
* Identify shortcomings of GitLab UX from a holistic view (e.g. [users attempting to import repos](https://gitlabfan.com/onboarding-story-importing-projects-from-gitlab-com-to-self-hosted-gitlab-9ded5eb80f2f#.9582fk21d))
* Identify improvements for UX design (e.g. look and feel, color, spacing, etc.)
* Work with UX researchers to prioritize quantifiable and actionable feedback through videos and other tools
* Work with product leads on new UX designs/screenshots
* Improve scheduling process to balance necessary UX improvements
* Interviews applicants for UX Designer
* Works with all functional teams (e.g. Backend, Frontend, Build, etc.) to improve overall UX
* Reviews material made by UX designers
* Ensures that the technical decisions and processes set by the CTO are followed
* Does 1:1's with all reports regularly (e.g. every week or two)
* Is available for 1:1's on demand of the report
* Ensures quality implementation of design materials
* Delivers input on promotions, function changes, demotions, and firings in consultation with the VP of Engineering and Frontend Lead

## Requirements for Applicants

* A minimum of 3+ years experience as a design lead, product lead, or design manager
* Solid visual awareness with understanding of basic design principles like typography, layout, composition, and color theory
* Proficiency with pre-visualization software (e.g. Sketch, Adobe Photoshop, Illustrator)
* Experience defining the high-level strategy (the why) and creating design deliverables (the how) based on research.
* Passion for creating visually pleasing and intuitive user experiences.
* Collaborative team spirit with great communication skills
* You share our [values](/handbook/values), and work in accordance with those values.


**NOTE** In the compensation calculator below, fill in "Lead" in the `Level` field for this role.


<%= partial "includes/apply_and_about" %>
